html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%
}

#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
#modal.visible {
  display: block;
  opacity: 1;
}
#modal-window {
  position: relative;
  margin: 25px auto;
  z-index: 5;
  width: 790px;
}
#modal-body {
  background: white;
}
#modal-background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(80, 80, 80, 0.50);
  z-index: 1;
}
